{
  "presets": [
    "env",
    "es2015"
  ],
  "plugins": [
      "syntax-dynamic-import",
  ],
  "env": {
    "build": {
    "plugins": [
        "syntax-dynamic-import"
        ]
    },
    "test": {
      "plugins": [
        "istanbul",
        "syntax-dynamic-import",
        "dynamic-import-node"
      ]
    }
  }
}
