{
  "presets": [
    "@babel/preset-env",
  ],
  "plugins": [
      "@babel/syntax-dynamic-import",
  ],
  "env": {
    "build": {
    "plugins": [
        "@babel/syntax-dynamic-import"
        ]
    },
    "test": {
      "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/dynamic-import-node"
      ]
    }
  }
}
